@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .input-custom {
    @apply flex items-center justify-center bg-[#F9FAFB] border border-[#E5E7EB] rounded-md shadow-sm;
    width: 100%;
    max-width: 462px;
    height: 40px;
    gap: 8px;
    opacity: 1;
    padding-top: 0.625rem;
    /* spacing/2.5 (10px) */
    padding-right: 0.75rem;
    /* spacing/3 (12px) */
    padding-bottom: 0.625rem;
    padding-left: 0.75rem;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    box-shadow: 0px 1px 0.5px 0.05px #1D293D05;
    background: #F9FAFB;
  }

  .input-custom::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #4A5565;
  }

  /* Tablet and larger screens */
  @media (min-width: 768px) {
    .input-custom {
      width: 420px;
    }
  }

  /* Desktop and larger */
  @media (min-width: 1024px) {
    .input-custom {
      width: 462px;
    }
  }
}

.btn-primary {
  background: #1447E6;
  font-size: 16px;  
}

.border-radius-12 {
  border-radius: 12px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #101828;
}

code {
  font-family: "Inter", sans-serif;
}